
.labo h1 {
    padding-top: 10px;
    font-size: 300%;
    color: white;
    text-align: center;
}

.menustick {
    z-index: 3;
    position: fixed;
}

.labo h2 {
    margin-left: 30vh;
    margin-right: 30vh;
    max-width: 50%;
}

.content {
    margin-top: 10%;
    border-radius: 2rem;
    background-color: beige;
}

.header {
    min-height: 100vh;
    min-width: 100vh;
    background: center/cover,no-repeat;
}
  
.labo img {
    margin-top: 35px;
    margin-left: 35vmax;
    height: 20vh;
    width: 20vh;
}
