
.labo h1 {
    font-size: 300%;
    color: white;
    text-align: center;
}
  
.labo h2 {
    color: white;
    margin-left: 20vh;
    margin-right: 30vh;
    margin-bottom: 3vh;
}
  
.labo header {
    min-height: 100vh;
    min-width: 100vh;
    background: url(./src/assets/image.jpg) center/cover,no-repeat;
}
  
.labo img {
    margin-left: 35vmax;
    height: 20vh;
    width: 20vh;
}
  
.trapeze {
    position: relative;
    top: -45vmax;
    left: 44.1vmax;
    transform: rotate(270deg) scale(1, -1);
    height: 0;
    width: 10vmax;
    border-top: 0px solid transparent;
    border-bottom: 100vmax solid #364945;
    border-left: 90px solid TRANSPARENT;
    border-right: 0px solid TRANSPARENT;
}
  