.parasites h1 {
  font-size: 300%;
  color: white;
  text-align: center;
}
  
.parasites h2 {
  padding-top: 10vh;
  border-top: 2px solid #364945;
  margin-right: 30vh;
  margin-left: 30vh;
  margin-top: 10vh;
}

.parasites header {
  min-height: 100vh;
  min-width: 100vh;
  background: url(./src/assets/image.jpg) center/cover,no-repeat;
}

.parasites img {
  margin-left: 35vmax;
  height: 20vh;
  width: 20vh;
}

.trapeze {
  position: relative;
  top: -45vmax;
  left: 44.1vmax;
  transform: rotate(270deg) scale(1, -1);
  height: 0;
  width: 10vmax;
  border-top: 0px solid transparent;
  border-bottom: 100vmax solid #364945;
  border-left: 90px solid TRANSPARENT;
  border-right: 0px solid TRANSPARENT;
}

.parasites .content {
  margin-top: -90vmax;
  margin-bottom: 2vmax;
}