* {
    box-sizing: border-box;
}
.menu {
    justify-content: center;
    margin-left: 35vmax;
    min-width: 60vh;
    display: flex;
    text-align: center;
    text-decoration: underline;
    color: #364945;
}

.drop_down {
    padding: 1vh;
    color: white;
    background-color: #364945;
    display: flex;
    text-decoration: none;
    justify-content: center;
}