.menu {
    min-width: 60%;
    display: flex;
    text-align: center;
    text-decoration: underline;
    color: #364945;
}

.drop_down {
    color: white;
    background-color: #364945;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.boutton {
    color: red!important
}