* {
    box-sizing: border-box;
}

.menu a {
    padding-left: 6px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration-color: #364945;
}

.menu {
    background-color: gray;
    justify-content: center;
    min-width: 100vmax;
    display: flex;
    text-align: center;
    text-decoration: underline;
    color: #364945;
}

.drop_down {
    padding: 1vh;
    color: white;
    background-color: #364945;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.drop_down:hover {
    background-color: #162220;
}
